[submodule "vendor/ios-cmake"]
	path = vendor/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "sysroot"]
	path = sysroot
	url = https://github.com/amnesia-dev/sysroot.git
[submodule "vendor/logos"]
	path = vendor/logos
	url = https://github.com/theos/logos.git
